
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Import•io JavaScript Client Examples">
	<title>Import•io JavaScript Client Examples</title>
	
	<!--[if lt IE 9]>
	<script src="//d7xe6yl2ckrgs.cloudfront.net/style/3/js/html5shiv.min.js"></script>
	<script src="//d7xe6yl2ckrgs.cloudfront.net/style/3/js/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/css/base.css">
	<link rel="shortcut icon" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/favicon.png">

	<script src="//d7xe6yl2ckrgs.cloudfront.net/style/3/js/base.js"></script>
	
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/icons/icon_144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/icons/icon_114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/icons/icon_72.png">
	<link rel="apple-touch-icon-precomposed" href="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/icons/icon_57.png">
	
	<style>
	.center {
		width: 100%;
		text-align: center;
	}
	</style>
	
	<!-- Importio lib -->
    <script src="//d7xe6yl2ckrgs.cloudfront.net/js/1/importio.js"></script>
    
    <!-- We also need these helper libs to do the custom signing -->
    <script src="//d7xe6yl2ckrgs.cloudfront.net/js/0.1/hmac-sha1.js"></script>
    <script src="//d7xe6yl2ckrgs.cloudfront.net/js/0.1/enc-base64-min.js"></script>
    
    <!-- jQuery, Knockout to help out -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
	
</head>
<body>
	<header class="navbar navbar-textured navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="http://import.io" class="pull-left logo-wrapper">
					<img src="//d7xe6yl2ckrgs.cloudfront.net/style/3/img/logo-dp.png" alt="import&bull;io" class="logo"/>
				</a>
				<nav class="nav-collapse collapse">
					<form method="GET" class="pull-right navbar-search" action="http://import.io/search">
						<input type="text" name="q" maxlength="300" placeholder="Connector Search" class="search-query"/>
						<button type="submit" class="btn"><i class="icon-search"></i></button>
					</form>
					<ul class="pull-right">
						<li><a href="http://import.io/explore">Explore</a></li>
						<li><a href="http://import.io/team">Team</a></li>
						<li><a href="http://import.io/howitworks">How it works</a></li>
						<li><a href="http://import.io/pricing">Pricing</a></li>
						<li><a href="http://blog.import.io">Blog</a></li>
						<li><a href="http://import.io/auth/login" class="special">Log in</a></li>
					</ul>
					
				</nav>
			</div>
		</div>
	</header>

	<section class="main">

	<div id="breadcrumbs">
		<div class="container">
			<p class="pull-left">
				<span xmlns:v="http://rdf.data-vocabulary.org/#">
					
					<span typeof="v:Breadcrumb">
						<a href="http://docs.import.io" rel="v:url" property="v:title"><i class="icon-home"> </i> Docs Home</a>
					</span>
					
				</span>
			</p>
			<p class="pull-right">
				<span>
					<a href="/client-js/">JS Examples</a>
				</span>
			</p>
		</div>
	</div>

	{{ content }}

	</section>
	<footer xmlns:dc="http://purl.org/dc/elements/1.1/">
		<div class="container">
			<nav class="pull-right">
				<ul>
					<li><a href="http://support.import.io">Help</a></li>
					<li><a href="http://docs.import.io">Docs</a></li>
					<li><a href="http://import.io/terms-conditions">Terms &amp; Conditions</a></li>
					<li><a href="http://import.io/privacy">Privacy</a></li>
				</ul>
			</nav>
			<p property="dc:rights">
				&copy;<span property="dc:dateCopyrighted">2012-2013</span>
				<span property="dc:creator">import<b class="io">&bull;</b>io</span>
			</p>
		</div>
	</footer>
</body>
</html>